.upload-card {
  
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  border: 2px dashed var(--primary-color) !important;
  background-color: var(--bg-color) !important;
  color: var(--text-color);
}

.upload-card:hover {
  border: 2px dashed var(--tertiary-color) !important;
  background-color: var(--bg-hover-color) !important;
}

.upload-card.highlight {
  border-color: var(--highlight-border) !important;
  background-color: var(--bg-hover-color);
}

.upload-card .file-list {
  margin-top: 1rem;
  text-align: left;
  padding: 0;
  list-style: none;
}

.upload-card .file-list li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: var(--text-color);
}
