a.navbar-brand {
    color: cornflowerblue;
    font-weight: bold;
}

a.navbar-brand:hover {
    color: rgb(55, 89, 151);
}

.navbar {
    z-index: 900;
}

.navbar+.navbar {
    z-index: 800;
    top: 67px;
}