.barra-superior {
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    /* Ajusta la altura de la barra */
    display: flex;
    align-items: center;
    font-size: 14px;
    /* Tamaño del texto */
}